BETTER_AUTH_SECRET="replace-with-at-least-32-random-characters"
BETTER_AUTH_URL="http://localhost:3000"
PUBLIC_MEDIA_BASE_URL="http://localhost:3000/cdn"
GOOGLE_CLIENT_ID=""
GOOGLE_CLIENT_SECRET=""
POLAR_ACCESS_TOKEN=""
POLAR_PRODUCT_PRO_ID=""
POLAR_PRODUCT_TEAM_ID=""
POLAR_SERVER="sandbox"
POLAR_WEBHOOK_SECRET=""
